<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block footer %}
        <footer class="footer-container text-center" style="margin-top: 25%">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center">&copy; Copyright {{ year }} Tareq Judeh</p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

</body>
</html>