<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}

</head>
<body>
    {% block content %}
        {% if name %}
          <p>Thank you, {{ name }}!</p>
        {% else %}
            <p>What's your name?</p>
            <form method="POST">
                <!-- Create CSRF token-->
                {{ form.hidden_tag() }}  <!-- form passed in name function -->

                <!-- label is the string from StringField() in NameForm class-->
                {{ form.name.label(class="form-label") }}

                <!-- the input field defined in NameForm class-->
                {{ form.name(class="form-control") }}

                <!-- the submit button defined in NameForm class-->
                {{ form.submit(class="btn btn-secondary") }}

            </form>
        {% endif %}
    {% endblock %}

</body>
</html>