<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{#    {% block content %}#}
{#        {{ super() }}#}
{#        <div class="container"  style="padding: 100px">#}
{#         {% if name %}#}
{##}
{#             <p style="font-size: 15px">#}
{#                 Thank you, {{ name | title }}! I will contact you shortly.#}
{#             </p>#}
{#             <a href="{{ url_for("submit_form") }}">Leave another message</a>#}
{##}
{#        {% else %}#}
{#            <h2>WTF Form</h2>#}
{#            <form method="POST">#}
{#                {{ form.hidden_tag() }}#}
{##}
{#                {{ form.name.label(class="form-label") }}#}
{#                {{ form.name(class="form-control") }}#}
{##}
{#                {{ form.email.label(class="form-label") }}#}
{#                {{ form.email(class="form-control") }}#}
{##}
{#                {{ form.submit(class="btn btn-dark") }}#}
{##}
{##}
{##}
{#            </form>#}
{#        </div>#}
{##}
{#        {% endif %}#}
{##}
{#        {% include "footer.html" %}#}
{#    {% endblock %}#}

 {% block content %}
       {{ super() }}
        <div class="section-container" style="padding: 200px 150px">
        {% if name %}
            <p style="font-size: 15px">
                 Thank you, {{ name | title }} for your message. I will contact you shortly!
             </p>
        {% else %}
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="section-container-spacer text-center">
                    <h1 class="h2">04 : Contact me</h1>
                  </div>

                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                       <form method="post" class="reveal-content">
                           {{ form.hidden_tag() }}

                          <div class="row">
                            <div class="col-md-7">
                              <div class="form-group">
                                    {{ form.name(class="form-control", placeholder="John Smith") }}
                              </div>
                                 <div class="form-group">
                                     {{ form.email(class="form-control", placeholder="example@email.com") }}
                              </div>
                              <div class="form-group">
                                    {{ form.subject(class="form-control", placeholder="Title") }}
                              </div>
                              <div class="form-group">
                                    {{ form.message(class="form-control", placeholder="Leave me a message here..", rows="7") }}
                              </div>
                              <button type="submit" value="submit" class="btn btn-default btn-lg">Send</button>
                            </div>
                            <div class="col-md-5 address-container">
                              <ul class="list-unstyled">
                                <li>
                                  <span class="fa-icon">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                  </span>
                                  + 962 79 6969 904
                                </li>
                                <li>
                                  <span class="fa-icon">
                                    <i class="fa fa-at" aria-hidden="true"></i>
                                  </span>
                                  tareq.judeh@outlook.com
                                </li>
                                <li>
                                  <span class="fa-icon">
                                    <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                                  </span>
                                  08 Al-Sabr street, Al-Rawabi, Amman, Jordan.
                                </li>
                              </ul>
                                <h3>Follow me on social networks</h3>
                                <a href="https://www.facebook.com/tareq.m.joudeh" title="" class="fa-icon">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="https://www.instagram.com/tareq_joudeh" title="" class="fa-icon">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/tareq-judeh-56051379" title="" class="fa-icon">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="https://github.com/TareqJudehGithub" title="" class="fa-icon">
                                    <i class="fa fa-github"></i>
                                </a>

                            </div>
                          </div>
                        </form>

                    </div>

                  </div>

               </div>
              </div>
            </div>
        {% endif %}
          </div>
        {% include "footer.html" %}
    {% endblock %}
</body>
</html>
